<div class="container" style="background-color: #daf7e4; padding: 15px;">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-3">{{header}}</h4>
        <div class="mb-3">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Type course name" [(ngModel)]="course.title">
        </div>

        <div class="mb-3">
          <label>Description</label>
          <textarea class="form-control" placeholder="Type course description" [(ngModel)]="course.description"></textarea>
        </div>

        <div class="row mb-3">
          <div class="col-md-2">
            <label>Date</label>
            <input *ngIf="!course.date" type="text" class="form-control" placeholder="DD/MM/YYYY" [(ngModel)]="course.date">
            <div *ngIf="course.date" style="background-color: white; color: grey; padding: 3px;">
              <span>{{course.date | date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-2">
            <label>Duration</label>
            <input type="text" class="form-control" placeholder="minutes" [(ngModel)]="course.duration">
          </div>
          <div class="col-md-2">
            <label></label>
            <div style="margin-top: 15px;">
              <span>{{course.duration || 0 | duration}}</span>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Anchors</label>
          <input type="text" class="form-control" placeholder="Type anchor name">
        </div>

        <div class="form-inline">
          <button class="btn btn-primary" type="submit" style="margin-right: 10px;" (click)="save()">Save</button>
          <button class="btn btn-light" type="submit" (click)="cancel()">Cancel</button>
        </div>
    </div>
  </div>
</div>
