<div class="course-item">
  <div class="course-item-container">
    <div class="course-item-left">
      <div class="course-item-container course-item-header">
        <div class="course-item-left">
          <span>{{course.title}}</span>
        </div>
        <div class="course-item-right">
          <span>{{course.duration}}</span>
          <span>{{course.creationDate}}</span>
        </div>
      </div>
      <span>{{course.description}}</span>
    </div>
    <div class="course-item-right">
      <div><button (click)="edit(course)">Edit</button></div>
      <div><button (click)="delete(course)">Delete</button></div>
    </div>
  </div>
</div>
