.header {
  background-color: #17a2b8;
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
}

.header-left {
  flex: 1;
}

.header-right {
  flex: 1;
  text-align: right;
}

.header-user {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.header-logout {
  height: 50px;
  /*background-color: brown;*/
  /*color: white;*/
  font-weight: bold;
}
