<!--<form>
  <p>
    <label class="mb-0">Email address</label>
    <input type="email"
           class="form-control"
           [(ngModel)]="login"
           placeholder="{{loginPlaceholder}}"
           name="login"
    />
  </p>
  <p>
    <label class="mb-0">Password</label>
    <input type="password"
           class="form-control"
           [(ngModel)]="password"
           placeholder="{{passwordPlaceholder}}"
           name="password"
    />
  </p>
  <button class="btn btn-lg btn-info btn-block"
          (click)="signIn(login, password)"
  >Sign in</button>
</form>-->

<form [formGroup]="user">
  <p>
    <label class="mb-0">Email address</label>
    <input type="email"
           class="form-control"
           formControlName="login"
           placeholder="{{loginPlaceholder}}"
    />
  </p>
  <p>
    <label class="mb-0">Password</label>
    <input type="password"
           class="form-control"
           formControlName="password"
           placeholder="{{passwordPlaceholder}}"
    />
  </p>
  <button class="btn btn-lg btn-info btn-block"
          (click)="signIn2()"
  >Sign in</button>
</form>
