<!--<form>
  <p>
    <label class="mb-0">{{ 'auth.email' | translate}}</label>
    <input type="email"
           class="form-control"
           [(ngModel)]="login"
           placeholder="{{loginPlaceholder}}"
           name="login"
    />
  </p>
  <p>
    <label class="mb-0">{{ 'auth.password' | translate}}</label>
    <input type="password"
           class="form-control"
           [(ngModel)]="password"
           placeholder="{{passwordPlaceholder}}"
           name="password"
    />
  </p>
  <button class="btn btn-lg btn-info btn-block"
          (click)="signIn(login, password)"
  >Sign in</button>
</form>-->

<form [formGroup]="user">
  <p>
    <label class="mb-0">{{ 'auth.email' | translate}}</label>
    <input type="email"
           class="form-control"
           formControlName="login"
           placeholder="{{'auth.loginPlaceholder' | translate}}"
    />
  </p>
  <p>
    <label class="mb-0">{{ 'auth.password' | translate}}</label>
    <input type="password"
           class="form-control"
           formControlName="password"
           placeholder="{{'auth.passwordPlaceholder' | translate}}"
    />
  </p>
  <button class="btn btn-lg btn-info btn-block"
          (click)="signIn2()"
          [translate]="'auth.signIn' | translate"
  ></button>
</form>
