<div class="courselist">
  <div class="courselist-container">
    <div class="courselist-left">
      <input placeholder="Type to search"/><button>Search</button>
    </div>
    <div class="courselist-right">
      <button>Add new course</button>
    </div>
  </div>
  <app-courseitem *ngFor="let course of courseList"
                  [course]="course"
                  [courseEdit]="courseEdit"
                  [courseDelete]="courseDelete"
                  (courseEditEvent)="courseEditEvent(course)"
                  (courseDeleteEvent)="courseDeleteEvent(course)"
  ></app-courseitem>
  <button class="load-more" (click)="getCourseList()">Load More</button>
</div>
