<app-breadcrumbs></app-breadcrumbs>
<div class="courselist">
  <div class="courselist-container">
    <div class="courselist-left form-inline">
      <input class="form-control" [(ngModel)]="filter" (ngModelChange)="filterInputSubject.next($event)" placeholder="Type to search"/>
      <button class="btn btn-sm btn-primary" (click)="searchCourseList(filter)">Search</button>
    </div>
    <div class="courselist-right">
      <button class="btn btn-sm btn-success" (click)="courseNew()">Add new course</button>
    </div>
  </div>
  <app-courseitem *ngFor="let course of courseList"
                  [course]="course"
                  [courseEdit]="courseEdit"
                  [courseDelete]="courseDelete"
                  (courseEditEvent)="courseEditEvent(course)"
                  (courseDeleteEvent)="courseDeleteEvent(course)"
  ></app-courseitem>
  <button class="load-more btn btn-sm btn-info" (click)="getCourseList()">
    <span *ngIf="courseList.length">Load More</span>
    <span *ngIf="!courseList.length">No Data, feel free to add new course</span>
  </button>
</div>
