.courselist {
  padding: 10px;
  background-color: beige;
}

.courselist-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.courselist-left {
  flex: 1;
}

.courselist-left input {
  width: 250px;
  margin-right: 10px;
}

.courselist-right {
  flex: 1;
  text-align: right;
}

.load-more {
  /*background-color: antiquewhite;*/
  width: 100%;
}
