<app-loader></app-loader>
<app-header></app-header>
<!--<div class="my-container" *ngIf="user.email">
  <app-breadcrumbs></app-breadcrumbs>
  <app-courselist *ngIf="!addEdit"
                  (addEditCourse)="addEditCourse($event)"
  ></app-courselist>
  <app-addeditcourseitem *ngIf="addEdit"
                         [course]="editCourse"
                         (addEditCourseSave)="addEditCourseSave($event)"
                         (addEditCourseCancel)="addEditCourseCancel()"
  ></app-addeditcourseitem>
</div>
<app-auth *ngIf="!user.email"></app-auth>-->
<div class="my-container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
